// Variables
$white: rgba(247, 248, 250, 1);
$black: rgba(61, 62, 64, 1);
$spacefarm: rgba(85, 56, 250, 1);
$proctest: #087bff;
$consentio: #528bff;
$dribbble: #ea4c89;
$medium: #5cffa0;
$kutia: #ff4149;
$timeheroes: #f56322;
$selection: #d2defa;
$kirtan: #fed54f;
$bbteam: #089447;
$react: #00d8ff;
$netlify: #00c7b7;
$improved: #7e868c;
$hckrs: #ff8c76;
$limbix: #7080D4;


.white { color: $white }
.black { color: $black }
.spacefarm { color: $spacefarm }
.proctest { color: $proctest }
.consentio { color: $consentio }
.dribbble { color: $dribbble }
.medium { color: $medium }
.kutia { color: $kutia }
.timeheroes { color: $timeheroes }
.kirtan { color: $kirtan }
.bbteam { color: $bbteam }
.react { color: $react }
.netlify { color: $netlify }
.improved { color: $improved }
.hckrs { color: $hckrs }
.limbix { color: $limbix }

.bg-white { background-color: $white }
.bg-black { background-color: $black }
.bg-spacefarm { background-color: $spacefarm }
.bg-fff { background-color: #fff }
.bg-selection { background-color: $selection }

.fade { background: linear-gradient(-180deg, $white 0%, rgba($white,0) 10%)}
