// Variables
$white: rgba(247, 248, 250, 1);
$black: rgba(61, 62, 64, 1);
$spacefarm: rgba(85, 56, 250, 1);
$proctest: #087bff;
$consentio: #528bff;
$dribbble: #ea4c89;
$medium: #5cffa0;
$kutia: #ff4149;
$timeheroes: #f56322;
$selection: #d2defa;
$kirtan: #fed54f;
$bbteam: #089447;

.white { color: $white }
.black { color: $black }
.spacefarm { color: $spacefarm }
.proctest { color: $proctest }
.consentio { color: $consentio }
.dribbble { color: $dribbble }
.medium { color: $medium }
.kutia { color: $kutia }
.timeheroes { color: $timeheroes }
.kirtan { color: $kirtan }
.bbteam { color: $bbteam }

.bg-white { background-color: $white }
.bg-black { background-color: $black }
.bg-spacefarm { background-color: $spacefarm }
.bg-fff { background-color: #fff }
