/*! uncss:ignore */
@font-face {
	font-family: "Real Text";
	src: url("fonts/RealTextOffc.eot");
	src: local("Real Text Offc"), local("RealTextOffc"),
		url("fonts/RealTextOffc.eot?#iefix") format("embedded-opentype"),
		url("fonts/RealTextOffc.woff2") format("woff2"),
		url("fonts/RealTextOffc.woff") format("woff"),
		url("fonts/RealTextOffc.ttf") format("truetype"),
		url("fonts/RealTextOffc.svg#RealTextOffc") format("svg");
	font-weight: 400;
}

/*! uncss:ignore */
@font-face {
	font-family: Real Text;
	src: url("fonts/RealTextOffc-Demibold.eot");
	src: local("Real Text Offc Demibold"), local("RealTextOffc-Demibold"),
		url("fonts/RealTextOffc-Demibold.eot?#iefix") format("embedded-opentype"),
		url("fonts/RealTextOffc-Demibold.woff2") format("woff2"),
		url("fonts/RealTextOffc-Demibold.woff") format("woff"),
		url("fonts/RealTextOffc-Demibold.ttf") format("truetype"),
		url("fonts/RealTextOffc-Demibold.svg#RealTextOffc-Demibold") format("svg");
	font-weight: 600;
}

/*! uncss:ignore */
@font-face {
	font-family: Real Head;
	src: url("fonts/RealHeadOffc-Medium.eot");
	src: local("Real Head Offc Medium"), local("RealHeadOffc-Medium"),
		url("fonts/RealHeadOffc-Medium.eot?#iefix") format("embedded-opentype"),
		url("fonts/RealHeadOffc-Medium.woff2") format("woff2"),
		url("fonts/RealHeadOffc-Medium.woff") format("woff"),
		url("fonts/RealHeadOffc-Medium.ttf") format("truetype"),
		url("fonts/RealHeadOffc-Medium.svg#RealHeadOffc-Medium") format("svg");
	font-weight: 500;
}
