.center {
  margin-right: auto;
  margin-left: auto;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

svg {
  display: block;
  backface-visibility: hidden;
  path, use, rect {
    transform-origin: 50% 50%;
  }
}

.illustration {
  width: 600%;
  transform: translate3d(0,0,0);
  left: 50%;
  transform: translateX(-50%);
  @media (min-width: 30em) {
    width: 250%;
  }
  @media (min-width: 52em) {
    width: 2560px;
  }
}

//Animation
@keyframes fan {
	from {
		transform-origin: 50% 50%;
		transform: rotate(0deg) translate3d(0,0,0);
	}
	to {
		transform-origin: 50% 50%;
		transform: rotate(360deg) translate3d(0,0,0);
	}
}

@keyframes lights-red {
	from {
	  opacity: 1;
    fill: #e686a6;
    transform: translate3d(0,0,0);
	}
	to {
		fill: #e686a6;
    opacity: 0;
    transform: translate3d(0,0,0);
	}
}

/*! uncss:ignore */
.animate {
  svg g.fan {
    animation: fan 10s infinite linear;
    -moz-animation: none;
  }
  svg path#red-lights {
  	animation: lights-red .3s infinite;
  	animation-direction: alternate;
  	animation-fill-mode: forwards;
  	animation-timing-function: linear;
  }
}
