.b-green {
  border-color: $green !important;
}

.b-grey-1 {
  border-color: $grey-1 !important;
}

.b-grey-2 {
  border-color: $grey-2 !important;
}

.b-grey-3 {
  border-color: $grey-3 !important;
}

.b-black {
  border-color: $black !important;
}

.b-white {
  border-color: $white !important;
}

.b-red {
  border-color: $red !important;
}

.b-blue {
  border-color: $blue !important;
}

.b-yellow {
  border-color: $yellow !important;
}
