fieldset
{
  position: relative;
}

.input {
  padding: .375rem .75rem;
  border: 2px solid darken($white, 4);
  @extend .bg-white;
  @extend .lh-copy;
  @extend .br1;
  @extend .fw5;
  @extend .animation-transition;

  &::placeholder {
    @extend .animation-transition;
  }

  &:focus {
    @extend .bg-fff;
  }

  &:focus + label {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }
  &:focus::placeholder  {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-.5rem);
  }
}

.input + label
{
  position: absolute;
  top: -1.5rem;
  @extend .f6;
  @extend .fw7;
  @extend .green;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transform: translateY(1rem);
  @extend .animation-transition;
}
