a {
  color: $black;
  font-weight: 500;
  transition: $hover-transition;
}

.text-link {
  border-bottom: 3px solid $highlight-green;

  &:hover
  {
      background-color: $highlight-green;
  }
}

.arrow {
  &:after {
    content: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgOCAyNyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEuNDE0Ij48cGF0aCBkPSJNMS41NTIgMTJjLjM5Ny4wMTYuNzcyLjE4NyAxLjA0NS40NzYgMS43NDEgMS45NzQgMy4zNzEgNC4wNDIgNS4wNTYgNi4wNjQuMTA0LjEzMi4xOTEuMjcyLjI1MS40M2ExLjUxMSAxLjUxMSAwIDAgMS0uMiAxLjQyNWMtMS42MjcgMi4wNjgtMy4zNjcgNC4wNDYtNS4wNTIgNi4wNjdhMS41MSAxLjUxIDAgMCAxLS43NjguNDkgMS41MTcgMS41MTcgMCAwIDEtMS40NjctLjQxMiAxLjUyOCAxLjUyOCAwIDAgMS0uNDAxLS44MTkgMS40OSAxLjQ5IDAgMCAxIC4yMzEtMS4wNDRjLjA0Mi0uMDYzLjA1NC0uMDc3LjEwMS0uMTM2bDQuMi01LjA0MS00LjItNS4wNC0uMDUyLS4wNjZjLS4wNDMtLjA2MS0uMDU1LS4wNzYtLjA5My0uMTQxYTEuNTE3IDEuNTE3IDAgMCAxIC41NDMtMi4wNTFjLjE0Ni0uMDg0LjMwNi0uMTQ0LjQ3MS0uMTc2LjA3My0uMDE0LjA5Mi0uMDE0LjE2Ny0uMDIyLjA4NC0uMDA0LjA4NC0uMDA0LjE2OC0uMDA0eiIgZmlsbD0iIzU0NTQ1OSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9zdmc+");
    font-weight: 800;
    width: .45rem;
    height: .45rem;
    display: inline-block;
    margin-left: .2rem;
    transition: $hover-transition;
  }
  &:hover:after {
    transform: translateX(.15rem);
  }
}
