<p class="mw6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit atque pariatur, expedita temporibus cupiditate consectetur vero sapiente molestiae repellendus deserunt accusantium cumque aspernatur soluta, ab tenetur non maiores enim quaerat.</p>
