extends _layouts/base

block content
  main.relative.z2
    .ph3.mw7.center
      include _components/hero.jade

      include _components/services.jade

      include _components/projects.jade

      include _components/team.jade

      include _components/contact.jade

      include _components/illustration.jade
