extends _layouts/base

block content
  .bg-black.fixed.top-0.w-100.h-100.relative.flex.items-center
    main.relative.z2.bg-white.center.pa3.br1.mw6.w-80-sm
      h1.f3.lh-title.b.mb3 Hey, we are now <span class="spacefarm">spacefarm</span>!
      
      p.mb3 Over the last few years, our work's scope shifted towards digital product design. That's why we thought we needed a new name and brand. Thanks for stoppping by. If you really need our old site, it's <a href="http://thecrazyones.agency/old" target="blank">here</a>.
      
      .flex-sm.justify-center.mhn1.items-center
        a.btn.db.states(href="http://www.spacefarm.digital") Go to spacefarm
