section.pt5.pb4
    h1.f3.f1-sm.lh-solid.mb3.mb4-sm.mw6.spacefarm 
        span.dib(style="width:.65em;height:.65em;vertical-align:-2.5%;margin-right:.25em;")
            include ../_images/logo.svg
        | spacefarm
    p.mw6 Spacefarm is a multidisciplinary design and front-end shop. We're focused on digital products, design systems and branding. Our name used to be <a href="http://www.thecrazyones.agency" target="blank">The Crazy Ones↗</a>. Full site coming soon.
