section
    h1.f3.f1-sm.lh-solid.mb3.mb4-sm.mw6.spacefarm 
        span.dib(style="width:.65em;height:.65em;vertical-align:-2.5%;margin-right:.25em;")
            include ../_images/logo.svg
        | spacefarm
    p.mw6.mb4 Spacefarm is a multidisciplinary design and front-end shop focused on digital products, design systems and branding. We used to be called <a href="http://www.thecrazyones.agency" target="blank">The Crazy Ones↗</a>. Our full site is coming soon.
